.header {
  margin-left: 300px;
  &__wrapper{
    display: flex;

  }
  &__title{
    margin:2%

  }
  &__button{
    margin: 2%;
    padding: 1% 2%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
    border-radius: 5px ;
    border: none;
    background-color: rgba(83, 130, 231, 1);
    color: rgba(255, 255, 255, 1);

    path {
      stroke:rgba(255, 255, 255, 1) ;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(83, 130, 231, 1);
      path {
        stroke: rgba(83, 130, 231, 1);
      }
    }


  }

}
